.ddspan {
  width: 25%;
  float: left;
  text-align: center;
}
.ddspan:hover {
  background-color: #e7e7e7f8;
}
.ddm {
  width: 20em;
  padding: 5px;
  font-size: 1em;
}

.pointer {
  cursor: pointer;
}

/* .dropdown-menu {
  background-color: blue;
  width: 0.5em;
} */
/*
ngbdropdownmenu {
  background-color: blue;
} */

/* #dropdown01 {
  background-color: blue;
} */
