<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/landingPage">CryptoTracker
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/favCrypto">Favourite</a>
      </li>
    </ul>
    <ul class="navbar-nav ddul">
      <li class="nav-item dropdown ddli" ngbDropdown>
        <a class="nav-link dropdown-toggle dda" id="dropdown01" ngbDropdownToggle>{{selectedFiat}}</a>
        <div class="dropdown-menu ddm" aria-labelledby="dropdown01" ngbDropdownMenu>
          <div *ngFor="let fiat of fiats">
            <span class="ddspan pointer" (click)=changeFiat(fiat)>{{fiat}}</span>
          </div>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
