<table class="table draggable">
  <thead>
    <tr>
      <th appSort [data]=this.allCoins [sortKey]="'rank'">Rank</th>
      <th appSort [data]=this.allCoins [sortKey]="'name'">Name</th>
      <th appSort [data]=this.allCoins [sortKey]="'price_usd'">Price</th>
      <th appSort [data]=this.allCoins [sortKey]="'market_cap_usd'">Market Cap</th>
      <th appSort [data]=this.allCoins [sortKey]="'24h_volume_usd'">Volume Traded (24h)</th>
      <th appSort [data]=this.allCoins [sortKey]="'available_supply'">Available Supply</th>
      <th appSort [data]=this.allCoins [sortKey]="'percent_change_24h'">Value Changed (24h)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coin of allCoins">
      <td>{{coin.rank}}</td>
      <td>{{coin.name}}</td>
      <td *ngIf="coin.price_usd <= 1">{{coin.price_usd | currency:'USD':number:'1.6-6'}}</td>
      <td *ngIf="coin.price_usd > 1">{{coin.price_usd | currency:'USD'}}</td>
      <td>{{coin.market_cap_usd | currency:'USD':number:'0.0-0'}}</td>
      <td>{{coin['24h_volume_usd'] | currency:'USD':number:'0.0-0'}}</td>
      <td>{{coin.available_supply | number: 0}}</td>
      <td [ngClass]="coin.percent_change_24h >= 0 ? 'positive' : 'negative'">{{coin.percent_change_24h/100 | percent:'.2'}}</td>
    </tr>
  </tbody>
</table>
